{{ define "index" }}
{{ template "header" . }}
    <ul>
    {{ range $post := .posts }}
        <li>{{ $post.Title }}</li>
        <li>{{ $post.Slug }}</li>
    {{ end }}
    </ul> 
    {{ .html }}
{{ template "footer" . }}
{{ end }}
